<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input v-model="account" type="text">
        <p>{{account}}</p>
        <br>
        <select v-model="selectItem">
            <option value="bs">Build School</option>
            <option value="vue">Vue</option>
            <option value="JavaScript">Javascript</option>
        </select>
        <p>{{selectItem}}</p>
        <br>
        <label for="">同意</label>
        <input v-model="isCheck" type="checkbox">
        <p>{{isCheck}}</p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data:{
                account: 'BuildSchool',
                selectItem: 'bs',
                isCheck: true
            },
            methods:{

            }
        })
    </script>

</body>
</html>