<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <!-- <app-title v-for="name in names" :Name="name"></app-title> -->

        <app-title v-for="person in persons" :Name="person.name" :Age="person.age"></app-title>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.7/dist/vue.js"></script>
    <script type="module">
        import Title from './Vue_10_TitleComponent.js'

        const app = new Vue({
            el: '#app',
            data: {
                names: ["Andy", "Jimmy", "Kevin"],
                persons: [
                    {
                        name: 'Andy',
                        age: 20
                    },
                    {
                        name: 'Jimmy',
                        age: 30
                    },
                    {
                        name: 'Kevin',
                        age: 40
                    }
                ]
            },
            components:{
                'app-title': Title
            }
        })
    </script>

</body>
</html>