/* 共同設定 */
/* body{
    background-color: aqua;
} */
h2{
    font-size: 50px;
    line-height: 200%;
}
h3{
    font-size: 30px;
    line-height: 200%;
    margin: 10px;
}
h4{
    font-size: 25px;
    line-height: 150%;
    color: red;
}
h5{
    font-size: 20px;
    line-height: 150%;
    display: inline;
    background-color: black;
    color: white;
}
p{
    font-size: 18px;
    line-height: 150%;
    margin: 10px;
}
ul li{
    list-style: square;
    font-size: 18px;
    line-height: 150%;
}
span{
    writing-mode: vertical-lr;
    font-size:80px;
}
i{
    font-size: 50px;
    color: red;
    /* background-color: white; */
    width: 55px;
    height: 50px;
}

.control-odd, .control-even{
    width: 950px;
    height: 800px;
    margin: 200px auto 1000px;
    border: 1px solid red;
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-template-rows: repeat(19, 1fr);
}
.introduce h2{
    height: 80px;
    padding: 30px 10px 20px 10px;
    background-color: #ae0014;
}
.innovation{
    padding: 10px 30px;
    background-color: #efefef;
}
.introduce{
    background-color: #000000;
    color: white;
}
.decorate{
    background-color: #eeeeee;
}

/* 差異設定 */
.control-odd .introduce{
    grid-area: 1 / 1 / 10 / 8;
    /* grid-column: 1/8;
    grid-row: 1/10; */
}
.control-odd .decorate{
    grid-area: 2 / 10 / 9 / 20;
    /* grid-column: 10/20;
    grid-row: 2/9; */
}
.control-odd .pic{
    grid-area: 4 / 5 / 14 / 19;
    /* grid-column: 5/19;
    grid-row: 4/14; */
}
.control-odd .btn-youtube{
    grid-area: 10 / 18 / 10 / 20;
    /* grid-column: 18/20;
    grid-row: 10/10; */
}
.control-odd .innovation{
    grid-area: 13 / 1 / 20 / 16;
    /* grid-column: 1/16;
    grid-row: 13/20; */
}

.control-even .introduce h2{
    text-align: center;
}
.control-even .pic{
    grid-area: 4 / 2 / 14 / 16;
    /* grid-column: 2/16;
    grid-row: 4/14; */
}
.control-even .introduce{
    grid-area: 1 / 13 / 10 / 20;
    /* grid-column: 13/20;
    grid-row: 1/10; */
}
.control-even .decorate{
    grid-area: 2 / 7 / 12 / 17;
    /* grid-column: 7/17;
    grid-row: 2/12; */
}
.control-even .btn-youtube{
    grid-area: 9 / 1 / 9 / 3;
    padding-left: 35px;
    /* grid-column: 1/3;
    grid-row: 9/9; */
}
.control-even .innovation{
    grid-area: 13 / 4 / 19 / 17;
    /* grid-column: 4/17;
    grid-row: 13/19; */
}