/* 共同 */
body{
    padding-top: 46px;
}
.fixed-width{
    max-width: 1160px;
}
.nav-limit, .choose-limit{
    background-color: #ffffff;
}
.forward{
    width: fit-content;
    padding:  1px 8px;
    top: 50%;
    left: 0;
}
.afterward{
    width: fit-content;
    padding: 1px 8px;
    top: 50%;
    right: 0%;
}
.bundle{
    border-radius: 6px;
}
.fixed-card img{
    transition: transform 1s ease;
}
.fixed-card img:hover{
    transform: scale(1.3);
}
.bundle span{
    z-index: 10;
}
[class*="fa-solid fa-star"]{
    color: #26bec9;
}

/* 導覽列 */
header{
    z-index: 10;
}
.nav-limit .container-fluid, .fixed-width{
    box-sizing: border-box;
}
h1{
    width: 20%;
    max-width: 80px;
}
.nav-limit{
    top: 0;
    left: 0;
}
.nav-limit .navbar-nav a:hover, .category-limit a:hover{
    color: #26bec9!important;
}

/* 分類 */
.category{
    width: 80%;
    height: 200px;
}
.category-limit .category{
    top: -70px;
    left: 0;
}

/* big-info */
.main-introd-limit{
    background: url("https://picsum.photos/2560/650/?random=10");
}
.main-introd-limit button{
    background-color: #22a7aa;
}
.main-introd-limit button:hover{
    opacity: 85%;
}

/* hot-action */
.group-card, .row-card-group{
    scroll-behavior: smooth;
    overflow-y: hidden;
    overflow-x: auto;
    display: grid;
    grid-auto-flow: column;
    height: auto;
}
.group-card::-webkit-scrollbar, .row-card-group::-webkit-scrollbar{
    display: none;
}
.group-card > div{
    transform: translateX(0px);
}
.card{
    width: calc(100% / 2 - 1rem * 1);
}
.card:hover{
    opacity: 85%;
}

/* city */
.city-limit .group-card{
    width: 100%;
} 
.city-details{
    bottom: 20px;
    left: 20px;
}
.city-details span{
    border: 1px solid white;
    border-radius: 50px;
}
.city div, .footer .info, .pic{
    box-sizing: border-box;
}

/* TOP 10 */
.fixed-card{
    width: calc(100% - 1rem * 0.5 * 2);
}
.card-product-review:first-child{
    border-right: 1px solid #ccc;
}

/* 精選 */
.card-tag span{
    white-space: nowrap;
    box-sizing: border-box;
    background-color: #EEF7FE;
    color: #51BAF8;
    font-size: .5rem;
}
.location-tag{
    top: 10px;
    left: 10px;
}
.heart{
    top: 10px;
    right: 10px;
}
.hot-product-limit .orderby{
    text-shadow: 0 1px 2px #e18d0e;
    background: linear-gradient(45deg,#ffaf1e,#ffd56e);
    bottom: 0;
    left: 0;
}

/*why choose */
.choose-limit a{
    background-color: #26bec9;
}
.choose-limit a:hover{
    opacity: 85%;
}

/* other-selection */
.other-selection-limit h5, .other-selection-limit ul{
    width: 100%;
}
.other-selection-limit a:hover{
    color: #51BAF8!important;
}

/* footer */
.footer-limit{
    background-color: #aaa;
}
.app a{
    width: 25px;
    height: 25px;
    background-color: rgb(53, 50, 50);
}
.app i{
    line-height: 25px;
}
.footer-limit .footer-list a:hover{
    color: #ffaf1e!important;
}
.footer-limit .app a:hover{
    background-color: #51BAF8;
}

@media screen and (max-width: 768px) {
    .group-card{
        width: 100%;
    }
    
}
@media screen and (min-width: 768px) {
    .category{
        height: 180px;
    }
    .card{
        width: calc(100% / 3 - 1rem * 1);
    }

    /* TOP 10 */
    .fixed-card{
        width: calc(100% / 4 - 1rem * 0.5 * 2);
    }
    
    .other-selection-limit .title-icon{
        width: 25%;
        border-right: 1px solid rgb(48, 48, 219);
    }
    .other-selection-limit ul{
        width: 75%;
        padding: 10px 20px;
        box-sizing: border-box;
    }

    /* why choose */
    .choose img{
        margin-top: -100px;
    }
}

@media screen and (min-width: 992px) {
    body{
        padding-top: 47px;
    }
    .card{
        width: calc(100% / 6 - 1rem * 1);
    }
}

@media screen and (min-width: 1440px) {
    .category{
        height: 150px;
    }
    .forward{
        width: fit-content;
        padding:  1px 8px;
        top: 50%;
        left: 8%;
    }
    .afterward{
        width: fit-content;
        padding: 1px 8px;
        top: 50%;
        right: 8%;
    }
}