h3{
    font-size: 1.5rem;
    font-weight: bold;
}
h4{
    font-size: 1rem;
    font-weight: bold;
}
h5{
    font-size: 0.8rem;
    font-weight: bold;
}
p, [placeholder]{
    font-size: 0.75rem;
}

@media screen and (max-width: 768px) {
    html{
        font-size:  80%;
    }
}

@media screen and (min-width: 768px) {
    html{
        font-size: 87.5%;
    }
}

@media screen and (min-width: 992px) {
    html{
        font-size: 100%;
    }
}